@use "sass:map";
@use "../maps/_spacing.scss";
@use "../mixins/_layout.scss";

// Style for headers
.header {
    color: var(--primary-fg);
    background-color: var(--primary-bg);

    padding: map.get(spacing.$padding, xl);
    border-bottom: 
        map.get(spacing.$border, normal) 
        solid 
        var(--primary-bg-em)
    ;
}

// Nav menu and nav link style
.nav-menu {
    // All nav menu style
    &-h, &-v {
        color: var(--primary-fg);
        background-color: var(--primary-bg);
        
        // Nav link style
        a {
            padding: map.get(spacing.$padding, m);

            &:hover {
                background-color: var(--primary-bg-em);
                color: var(--primary-fg-em);
            }
        }
    }

    // Horizontal nav menu only style
    &-h {
        @include layout.make-row($width: auto, $height: 100%);
        
        // Nav link style
        a {
            text-align: center;
            border-right: 
                map.get(spacing.$border, thin) 
                solid 
                var(--primary-bg-em)
            ;
        }
    }

    // Vertical nav menu only style
    &-v {
        @include layout.make-col($width: 100%, $height: auto);
        border-bottom: 
            (map.get(spacing.$border, normal) - map.get(spacing.$border, thin))
            solid 
            var(--primary-bg-em)
        ;
        
        // Nav link style
        a {
            border-bottom: 
                map.get(spacing.$border, thin) 
                solid 
                var(--primary-bg-em)
            ;
        }
    }
}