@use "sass:map";
@use "../mixins/_layout.scss";
@use "../maps/_border.scss";

.sidebar {
    @include layout.make-col(100%);
    
    color: var(--primary-fg);
    background-color: var(--primary-bg);
    
    border-right: map.get(border.$size, normal) solid var(--primary-bg-em);
}